%{port_sources, ["c_src/*.cpp"]}.
%{port_envs, [
%	%{"CC","g++"},
%	%{"CXX","g++"},
%	%{"CXXFLAGS", "$CXXFLAGS -fPIC -I/usr/local/include/bullet"},
%	%{"LDFLAGS", "-L/usr/local/lib -lBulletDynamics -lBulletCollision -lLinearMath"}
%
%	%{"CC","/usr/lib/colorgcc/bin/g++"},
%	%{"CXX","/usr/lib/colorgcc/bin/g++"},
%	%{"CXXFLAGS", "$CXXFLAGS -fPIC -I/usr/include/bullet"},
%	%{"LDFLAGS", "-L/usr/lib -lBulletDynamics -lBulletCollision -lLinearMath"}
%
%	{"CC","clang"},
%	{"CXX","clang++"},
%	{"CXXFLAGS", "$CXXFLAGS -fPIC -I/usr/include/bullet -fcolor-diagnostics"},
%	{"LDFLAGS", "-L/usr/lib -lBulletDynamics -lBulletCollision -lLinearMath -fcolor-diagnostics"}
%]}.






{port_env, [
	%{"BULLET_PREFIX", "/usr"},
	%{"BULLET_PREFIX", "/usr/local"},
	%{"BULLET_CXXFLAGS", "-I$REBAR_DEPS_DIR/include/bullet"},
	%{"BULLET_LIBS", "-L$BULLET_PREFIX/lib -lBulletDynamics -lBulletCollision -lLinearMath"},

	%{"CXXFLAGS", "$CXXFLAGS -fPIC $BULLET_CXXFLAGS"},

	%{"LDFLAGS", "$BULLET_LIB -fcolor-diagnostics"}
	{"(linux|solaris)", "LDFLAGS", "$LDFLAGS -lstdc++"}
]}.

{port_specs, [
	{"priv/bulleterl.so", ["c_src/*.c"]}
]}.
